{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="page-title form-heading col-md-12">
        <h1>Edit City</h1>
        <h5>You can edit one or multiple values of the chosen cities below. Make sure to hit the 'Update City' button once you're satisfied to save your changes.</h5>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <form action="{{url_for('update_city', city_id=city._id)}}" method="POST" name="updateCity" id="updateCity">
                <div class="form-group">
                    <i class="fas fa-align-center"></i><label class="form-field-description">Select Category</label>
                        <select class="form-control category-formfield" id="category_name" name="category_name">
                            <!-- Populate categories from database categories -->
                            {% for category in categories %}
                                {% if category.category_name == city.category_name %}
                                <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
                                {% else %}
                                <option value="{{category.category_name}}">{{category.category_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="fas fa-pencil-alt"></i><label class="form-field-description">City Name</label>
                    <input type="text" class="form-control" id="city_name" name="city_name" required data-validation-required-message="Please enter a city name." value="{{city.city_name}}" maxlength="100">
                    </div>
                </div>            
                <div class="form-group">
                    <div class="controls">
                    <i class="far fa-images"></i><label class="form-field-description">City Image</label>
                    <input type="url" class="form-control" id="image_link" name="image_link" pattern="https://.*" required data-validation-required-message="Please enter a valid link to the city image." value="{{city.image_link}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="fas fa-info"></i><label class="form-field-description">City Description</label>
                    <textarea class="form-control" id="description" name="description" required data-validation-required-message="Please enter a short description of your city." maxlength="1000">{{city.description}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                    <i class="fas fa-list-ul"></i><label class="form-field-description">Things to Do</label>
                    <textarea class="form-control" id="attractions" name="attractions" rows="5" required data-validation-required-message="Please enter some things to do!" maxlength="3000">{{ingredients}}</textarea>
                    </div>
                </div>            
                <div class="form-group">
                    <div class="controls">
                    <i class="fas fa-clipboard-list"></i><label class="form-field-description">Places to Stay</label>
                    <textarea class="form-control" id="places-to-stay" name="places-to-stay" rows="5" required data-validation-required-message="Please enter some cool places to stay!" maxlength="3000">{{instructions}}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" onclick="alert_edit()" id="sendMessageButton">Update City</button>
                <a href="{{url_for('view_city', city_id=city._id)}}" onclick="alert_no_edit()" class="btn btn-success">Cancel</a> 
            </form>
        </div>
    </div>
</div>
<!-- Alert prompts for editing a city or canceling edit process -->
<script>
function alert_edit(){
        alert("Thank you! The city has been updated successfully.");
    }
function alert_no_edit(){
        alert("The city has not been edited.");
    }
</script>

{% endblock %}