/*-------------------------------------Heading */

.head-style {
    background: url("../images/europecities.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px;
    padding-bottom: 200px;
}

.head-side {
    background-color: #DDEBE5;
}

.city-header {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 5px black;
}

/*-------------------------------------About */

.about-head {
    padding-left: 575px;
    padding-top: 50px;
}

.about-description {
    padding-left: 340px;
    padding-top: 25px;
}

#choice-align {
    padding-left: 70px;
}

/*-------------------------------------Cities */

.city {
    text-align: center;
}

.city-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.berlin-image {
    background: url("../images/berlin.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.barcelona-image {
    background: url("../images/barcelona.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.rome-image {
    background: url("../images/rome.png");
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}


/*-------------------------------------Footer */


.footer-align {
    text-align: center;
    background-color: #589B81;
    padding-top: 30px;
    padding-bottom: 30px;
}
